body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: grey;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.form {
  margin: auto;
  width: 70%;
  padding: 50px;
  display: none;
  border: solid 2px black;
  background-color: whitesmoke;
}

